main{
    width:100%;
    height:100%;
    color: rgb(155, 67, 53);
    background-color: rgb(214, 212, 212);
}

header{
    border-bottom: 0.01rem solid black;
    background-color: rgb(155, 67, 53);
    color: rgb(214, 212, 212);
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem;
}

h2{
    font-size: 1.5rem;
    position: relative;
    align-self: center;
    margin-left: 1rem;
}

h3{
    font-size: 1rem;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-content: center;
}

.punicoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}

.qrcode{
    margin-top: 2rem;
}

